<div class="row" style="padding: 2.5rem 1rem">
    <div class="col-7 d-flex align-items-center">
        <h2 style="font-weight: 600">Check in</h2>
    </div>
    <div class="col-5 d-flex justify-content-end align-items-center">
        <button class="back-button" [routerLink]="['/lectures']" >
            <i class="fas fa-chevron-left"></i>Back
        </button>
    </div>
</div>

<div class="row d-flex justify-content-center">

    <div class="input-border">
        <div>
            <div class="input-text d-flex">
                <div style="width: 45%">Start date</div>
                <div class="flex-grow-1"></div>
                <div style="width: 45%">Start time</div>
            </div>
            <div class="d-flex">
                <input [matDatepicker]="startPicker" placeholder="Date" (click)="startPicker.open()"  [(ngModel)]="start"> 
                <mat-datepicker-toggle matSuffix [for]="startPicker" style="display: none;"></mat-datepicker-toggle>
                <mat-datepicker #startPicker style="display: none;"></mat-datepicker>
                <div class="flex-grow-1"></div>
                <input atp-time-picker placeholder="Time" [(ngModel)]="start_time">
            </div>
        </div>
        <div>
            <div class="input-text d-flex" style="padding-top: .75rem">
                <div style="width: 45%">End date</div>
                <div class="flex-grow-1"></div>
                <div style="width: 45%">End time</div>
            </div>
            <div class="d-flex">
                <input [matDatepicker]="endPicker" placeholder="Date" (click)="endPicker.open()"  [(ngModel)]="end"> 
                <mat-datepicker-toggle matSuffix [for]="endPicker" style="display: none;"></mat-datepicker-toggle>
                <mat-datepicker #endPicker style="display: none;"></mat-datepicker>
                <div class="flex-grow-1"></div>
                <input atp-time-picker placeholder="Time" [(ngModel)]="end_time">
            </div>
        </div>
    </div>

</div>

<div class="row d-flex justify-content-center">
    
    <div class="button-border d-flex justify-content-center">
        <button class="submit-button" (click)="submit()">CREATE</button>
    </div>

</div>