<div class="custom-card">
    <div class="custom-card-header">
        Delete?
    </div>
    <div class="custom-card-footer">
        <div class="row">
            <div class="col-6 d-flex justify-content-center" style="padding-right: .75rem;">
                <button class="custom-footer-button footer-button-positive" (click)="yes()">Yes</button>
            </div>
            <div class="col-6 d-flex justify-content-center" style="padding-left: .75rem;">
                <button class="custom-footer-button footer-button-negative" (click)="close()">No</button>
            </div>
        </div>
    </div>
</div>