<mat-drawer-container class="nav">

    <mat-drawer mode="side" opened class="sidenav">
        
        <!-- logo and name -->
        <div class="d-flex justify-content-center align-items-center sidenav-aas">
            <div class="sidenav-image">
                <img src="./assets/images/login-logo-1-1.jpg" alt="AAS">
            </div>
            <h6>Automatic Attendance System</h6>
        </div>

        <!-- dashboard -->
        <div class="dashboard">
            <h6 [routerLink]="['/']">
                <i class="fas fa-home nav-icon"></i>
                Dashboard
            </h6>
        </div>

        <div class="nav-navigation">
            <h6 [routerLink]="['/classes']">
                <i class="fas fa-university nav-icon"></i>
                <h6>Classes</h6>
            </h6>
        </div>
        <div class="nav-navigation">
            <h6 [routerLink]="['/lectures']">
                <i class="fas fa-user-graduate nav-icon" style="padding-left: 2px; font-size: 1.45rem;"></i>
                <h6>Lectures</h6>
            </h6>
        </div>

        
        
        <div class="nav-bottom">
            <div class="nav-navigation">
                <h6 (click)="logout()">
                    <i class="fas fa-sign-out-alt nav-icon" style="padding-left: 2px; font-size: 1.45rem;"></i>
                    <h6>Logout</h6>
                </h6>
            </div>
            <h6 class="d-flex justify-content-start align-items-center"><i class="far fa-question-circle" style="padding-right: .35rem;"></i>help</h6>
        </div>

    </mat-drawer>
    <mat-drawer-content style="overflow: hidden;">
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>