<!-- header -->
<div class="row" style="padding: 2.5rem 1rem">
    <div class="col-12">
        <h2 style="font-weight: 700;">Lectures</h2>
    </div>
</div>

<!-- body -->
<div class="row">

    <div class="col-12 add-class d-flex justify-content-center align-items-center" *ngIf="show_actions">
        <div class="add-class-encasing" [routerLink]="['/lecture/start']" [queryParams]="{  }">
            <div class="class-text">Start Lecture</div>
        </div>
    </div>

    <div class="col-12 class-card d-flex justify-content-center align-items-center" *ngFor="let l of lectures; let i = index" >
        
        <div class="class-encasing" (click)="lectureAction($event, i)">

            <div class="title">{{ l.checkInCode }}</div>
            <div class="description">{{ l.startTime + " - " + l.endTime }}</div>
            <div class="footer">
                <div class="circle"> </div>
            </div>

        </div>

    </div>

</div>