<div class="container-fluid">

  <div class="row d-flex justify-content-center align-content-center" style="min-height: 100%;">

    <div class="box">
      <div class="row">

        <div class="col-12 d-flex justify-content-center">

        </div>
        <div class="col-12 d-flex justify-content-center" *ngIf="sign_up">
          <select class="form-control shadow-none" [(ngModel)]="user.group_index" (change)="validator()">
              <option [value]="null">None</option>
              <option *ngFor="let g of groupList; let i = index" [value]="i">{{ groupList[i].name }}</option>
          </select>
        </div>
        <div class="col-12 d-flex justify-content-center" *ngIf="sign_up">
          <input type="text" placeholder="name" [(ngModel)]="user.name">
        </div>
        <div class="col-12 d-flex justify-content-center" *ngIf="sign_up">
          <input type="text" placeholder="surname" [(ngModel)]="user.surname">
        </div>
        <div class="col-12 d-flex justify-content-center">
          <input type="text" placeholder="{{ username_text }}" [(ngModel)]="user.username">
        </div>
        <div class="col-12 d-flex justify-content-center" [ngClass]="{'disapear': forgot }">
          <input type="password" placeholder="password" [(ngModel)]="user.password">
        </div>
        <div class="col-12 d-flex justify-content-center" *ngIf="sign_up">
          <input type="password" placeholder="confirm password" [(ngModel)]="user.confirm_password">
        </div>
        <div class="col-12 d-flex justify-content-center">
          <div class="login-shadow">
            <button (click)="gate()">{{ login_text }}</button>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6" style="padding-left: 10px;">
              <a (click)="forgot_button()" style="cursor: pointer;">{{ forgot_text }}</a>
            </div>
            <div class="col-6 d-flex justify-content-end" style="padding-right: 10px;">
              <a (click)="signUp_button()" style="cursor: pointer;">{{ sign_up_text }}</a>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

</div>
