<div class="container-fluid">

    <div class="pretty-block">
        
        <div class="pretty-block-card d-flex">
            
            <div class="pretty-card-text d-flex justify-content-center align-items-center">
                <h6>This is some collection of words that looks very nice</h6>
            </div>
            <div class="pretty-card-image">
                <div class="pretty-card-background"></div>
            </div>

        </div>

    </div>

    <!-- cards -->
    <div class="row" style="padding-top: 4rem;">
        
        <div class="col-3">

            <div class="content-card">

                <div class="inner-card" [routerLink]="['/classes']">

                    <div class="flex-grow-1"></div>
                    <div class="card-image">
                        <i class="fas fa-university"></i>
                    </div>
                    <div class="flex-grow-1"></div>

                    <div class="card-title">
                        <h6>Classes</h6>
                    </div>
                    <div class="card-description">
                        <h6>This is where your classes are stored</h6>
                    </div>
                    <div class="flex-grow-1"></div>
                </div>

            </div>

        </div>
        <div class="col-3">

            <div class="content-card">

                <div class="inner-card">

                    <div class="flex-grow-1"></div>
                    <div class="card-image">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <div class="flex-grow-1"></div>

                    <div class="card-title">
                        <h6>Students</h6>
                    </div>
                    <div class="card-description">
                        <h6>This is where you view all of your students</h6>
                    </div>
                    <div class="flex-grow-1"></div>
                </div>

            </div>

        </div>
        <div class="col-3">

            <div class="content-card">

                <div class="inner-card">

                    <div class="flex-grow-1"></div>
                    <div class="card-image">
                        <i class="fas fa-user-clock" style="padding-bottom: 0; margin-top: .2rem; transform: scale(1.1);"></i>
                    </div>
                    <div class="flex-grow-1"></div>

                    <div class="card-title">
                        <h6>Attendance</h6>
                    </div>
                    <div class="card-description">
                        <h6>This is where you see the overall attendance</h6>
                    </div>
                    <div class="flex-grow-1"></div>
                </div>

            </div>

        </div>

    </div>

</div>