@import "../../../assets/scss-library/colours.scss";

.container-fluid {
    padding: 6rem 4rem;
    overflow-y: auto;
    max-height: 100vh;
}

.pretty-block {
    margin: 0 1rem;

    .pretty-block-card {
        
        border: 2px solid $space_cadet;
        border-radius: 8px;
        min-height: 12rem;

        overflow: hidden;
        background-color: rgba($color: $blue, $alpha: 0.45);

        .pretty-card-text {
            display: block;
            min-width: 16rem;
            padding: 2rem;
            
            h6 {
                font-size: 1.1rem;
                font-weight: 600;

                color: $elegant_black_darker;
            }
        }

        .pretty-card-image {
            transform: skew(-20deg);
            min-width: 100%;
            min-height: 100%;
            border-left: 2px solid $space_cadet;
            overflow: hidden;


            .pretty-card-background {
                margin-left: -5rem;
                transform: skew(20deg);
                background-image: url("src/assets/images/login-logo.jpg");
                min-width: 100%;
                min-height: 100%;
                background-repeat: no-repeat;

                //temporary
                background-size: cover;
                background-position: center;
                
            }
        }
    }
}
.content-card {
    padding: .5rem 1rem;


    .inner-card {
        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-height: 18rem;

        border: 2px solid $stylish_dark_darker;
        border-radius: 4px;
        padding: 1rem 1.5rem;

        -webkit-box-shadow: 1px 1px 5px -2px rgba($color: $elegant_black_darker, $alpha: 0.9), 2px 2px 5px 0px rgba($color: $elegant_black, $alpha: 0.2);
           -moz-box-shadow: 1px 1px 5px -2px rgba($color: $elegant_black_darker, $alpha: 0.9), 2px 2px 5px 0px rgba($color: $elegant_black, $alpha: 0.2);
                box-shadow: 1px 1px 5px -2px rgba($color: $elegant_black_darker, $alpha: 0.9), 2px 2px 5px 0px rgba($color: $elegant_black, $alpha: 0.2);

        .card-image {
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 4rem;
                color: $elegant_black_darker;
            }
        }
        .card-title {
            padding-top: .5rem;

            h6  {
                text-align: center;
                color: $elegant_black;

                font-size: 1.8rem;
                font-weight: 600;
            }
        }
        .card-description {
            margin-top: -.2rem;
            display: flex;
            justify-content: center;
            h6 {
                display: inline-block;
                width: 70%;
                text-align: center;

                font-weight: 600;
                color: $stylish_dark;
            }
        }

        &:hover {
            border: 2px solid $cadet;
            .card-image { i { color: $space_cadet; } }

            -webkit-box-shadow: 1px 1px 5px 0px rgba($color: $elegant_black_darker, $alpha: 0.7), 3px 3px 7px 1px rgba($color: $elegant_black, $alpha: 0.2);
               -moz-box-shadow: 1px 1px 5px 0px rgba($color: $elegant_black_darker, $alpha: 0.7), 3px 3px 7px 1px rgba($color: $elegant_black, $alpha: 0.2);
                    box-shadow: 1px 1px 5px 0px rgba($color: $elegant_black_darker, $alpha: 0.7), 3px 3px 7px 1px rgba($color: $elegant_black, $alpha: 0.2);
        }
        &:active {
            border: 2px solid $xiketic;
            .card-image { i { color: $xiketic; } }

            -webkit-box-shadow: inset 1px 1px 5px -2px rgba($color: $elegant_black_darker, $alpha: 0.9), inset 2px 2px 5px 0px rgba($color: $elegant_black, $alpha: 0.2);
               -moz-box-shadow: inset 1px 1px 5px -2px rgba($color: $elegant_black_darker, $alpha: 0.9), inset 2px 2px 5px 0px rgba($color: $elegant_black, $alpha: 0.2);
                    box-shadow: inset 1px 1px 5px -2px rgba($color: $elegant_black_darker, $alpha: 0.9), inset 2px 2px 5px 0px rgba($color: $elegant_black, $alpha: 0.2);
        }
    }

}