/* You can add global styles to this file, and also import other style files */
@import "./assets/scss-library/colours.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
* {
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
}
input:invalid {
    box-shadow: none;
}
input, button {
    outline: none;
}

.custom-dialog {
    position: fixed;
    top: 0;
    left: 0;

    padding-left: 12rem;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999999;
    overflow: hidden;

    height: 100vh;
    width: 100%;

    background-color: rgba($color: $dark, $alpha: .2);
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    background-color: #dddddd;
}
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    /* background-color: rgb(118, 50, 63); */
    background-color: $space_cadet;
}
::-webkit-scrollbar-track {
    background-color: #dddddd;
    border-radius: 25px;
}